.remove {
  cursor: pointer;
}
.img {
  width: 15vw;
}
.item {
  text-align: center;
  align-items: center;
  border-bottom: 1px solid darkgray;
}
/* .item .itemName {
  text-decoration: none;
  color: black;
} */
.arrowQuantity {
  display: flex;
  justify-content: center;
}
.arrow {
  cursor: pointer;
}
/* .quantity {
  padding: 0 0.8rem;
} */
