.remove {
  cursor: pointer;
  padding-left: 2rem;
}
.img {
  width: 15vw;
  object-fit: cover;
}
.item {
  text-align: center;
  align-items: center;
  padding-right: 0rem;
  border-bottom: 1px solid darkgray;
}
.nav-link {
  color: black;
}
.arrowQuantity {
  display: flex;
  justify-content: center;
}
.arrow {
  cursor: pointer;
}

