.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  margin-top: 0.7rem;
  margin-left: 1.5rem;
  justify-content: center;
  cursor: pointer;
}
.bag-icon {
  width: 24px;
  height: 24px;
}
.item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  top: 9px;
}
