.header {
  padding-bottom: 2rem;
  border-bottom: 1px solid darkgray;
}
.col {
  text-align: center;
}
.total {
  text-align: end;
  font-size: 2rem;
  margin: 2rem;
}
.checkout {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}
