.header {
  width: 100%;
  background-color: #f8f9fa;
  height: 15vh;
}
.logo {
  width: 35%;
  /* margin-left: -2rem; */
}
.navName {
  margin-left: -6rem;
}
/* .navLink:hover,
.navLink:visited,
.navLink:link,
.navLink:active {
  color: black;
  text-decoration: none;
} */
.signCart {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  .navName {
    margin-left: -1rem;
  }
}
